%span ✅タスクリスト
= link_to '新規作成', new_task_path, class: 'btn btn-primary'

%table.table.table-striped
  %thead
    %tr
      %th タスク名
      %th
      %th
  %tbody
    - @tasks.each do |task|
      %tr
        %td= link_to task.name, task
        %td= link_to '編集', edit_task_path(task), class: 'btn btn-success'
        %td= link_to '削除', task, method: :delete, data: { confirm: 'ほんとに消しちゃう？ほんと？' }, class: 'btn btn-danger'
